$sizes: (
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 2rem,
);

@each $key, $value in $sizes {
  .px-#{$key} {
    padding-inline: $value;
  }
  .py-#{$key} {
    padding-block: $value;
  }
  .pt-#{$key} {
    padding-top: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .ps-#{$key} {
    padding-inline-start: $value;
  }
  .pe-#{$key} {
    padding-inline-end: $value;
  }
  .mx-#{$key} {
    margin-inline: $value;
  }
  .my-#{$key} {
    margin-block: $value;
  }
  .mt-#{$key} {
    margin-top: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .ms-#{$key} {
    margin-inline-start: $value;
  }
  .me-#{$key} {
    margin-inline-end: $value;
  }
}
